<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7z.Libs" version="18.05" targetFramework="net472" />
  <package id="MadMilkman.Ini" version="1.0.6.0" targetFramework="net472" />
  <package id="SimpleHelpers.FileEncoding" version="1.4.0" targetFramework="net472" />
  <package id="Squid-Box.SevenZipSharp" version="1.1.106" targetFramework="net472" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net472" />
</packages>